@using Microsoft.AspNetCore.Identity
@inject UserManager<Utilisateur> UserManager


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow bg-middle">
    <div class="container-fluid">
        <a class="navbar-brand me-auto" asp-controller="Accueil" asp-action="Accueil" title="Accueil">
            <img src="~/img/bibliox.png" width="100" height="30" alt="">
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav" id="livreLink">
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Inventaire" asp-action="Bibliotheque">Blibliothèque</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Usage" asp-action="Usage">Boutique étudiante</a>
                </li>
                @if (User.IsInRole(RolesName.Admin))
                {
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="TableauDeBord" asp-action="Index">Tableau de bord</a>
                    </li>
                }

            </ul>
            <ul class="navbar-nav ms-auto">
                
                @if (User.Identity != null) {
                    if (User.Identity.IsAuthenticated) {
                        Utilisateur utilisateurCourant = await UserManager.GetUserAsync(User);
                        <li class="nav-item text-white">
                            <a class="nav-link text-white">Bonjour <strong>@utilisateurCourant.Prenom @utilisateurCourant.Nom</strong></a>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="d-flex">
            <ul class="navbar-nav ms-auto flex-row">
                @if (User.Identity != null) {
                    if (User.Identity.IsAuthenticated) {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Panier" asp-action="Index">
                                <img src="~/img/cart-variant.svg" width=" 25px">
                                <span id="NbItemPanier"></span>
                            </a>
                        </li>
                    }
                }
                <partial name="_LoginPartial" />
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom shadow bg-top">
    <div class="container-fluid">
        <div class="row w-100 m-none m-auto">
            <div class="col-md-4 p-0 text-end">
                <select name="MovieType" class="btn btn-outline-primary text-light border-0 d-inline-flex">
                    <option selected="selected" value="1" class="RechercheBiblio">Bibliothèque</option>
                    <option value="2" class="RechercheBiblio">Boutique étudiante</option>
                </select>

            </div>

            <div class="col-md-4">
                <div class="input-group m-none">
                    <input name="searchString" type="text" class="form-control bg-light border-light" placeholder="Chercher un livre" id="inputRecherche">
                    <button class="input-group-text btn btn-light border-light" type="submit" onclick="changerPage(0)">
                        <img src="~/img/loupe-de-recherche.svg">
                    </button>
                    <button class="input-group-text btn btn-light border-light" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"  >
                        <img src="~/img/plus-circle.svg" width="24px">
                    </button>
                </div>
            </div>

            @* TODO: logique pour afficher tous les programmes d'études basée sur le model*@


            @*
            <select asp-for="EmployeeId"
            asp-items="@(new SelectList(Model.EmployeesList, nameof(Employee.Id), nameof(Employee.FullName)))">
            <option>Please select one</option>
            </select>
            *@
        </div>
    </div>
</nav>

@if (User.Identity != null) {
    if (User.Identity.IsAuthenticated) {

        <script>

            function chercher() {

                "Inventaire/ChercherBibliotheque/"

                var titre = document.querySelector('#Titre').value;
                var maisonEdition  = document.querySelector('#MaisonEdition').value;
                var auteur  = document.querySelector('#Auteur').value;
                var isbn = document.querySelector('#ISBN').value;

                var champsRecherche = {
                    Titre: titre,
                    MaisonEdition: maisonEdition,
                    Auteur: auteur,
                    Isbn: isbn,
                    Neuf: true,
                    Numerique: true,
                    Usage: true
                };

                fetch(host + "Inventaire/ChercherBibliotheque/", {
                    method: 'Post',
                    body: JSON.stringify(champsRecherche),
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        "Content-Type": "application/json"
                    }
                }).then(async response => {

                    if(response.ok){

                        document.body.innerHTML = await response.text();

                    } else {

                        alert("Une erreur est survenue!");
                    }
                });

            }

        </script>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Recherche avancée</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                
                <label for="Titre" class="form-label">Titre</label>
                <div class="input-group mb-3">
                        <input type="text" class="form-control" id="Titre">
                </div>
                
                <label for="MaisonEdition" class="form-label">Maison d'édition</label>
                <div class="input-group mb-3">
                        <input type="text" class="form-control" id="MaisonEdition">
                </div>
                
                <label for="Auteur" class="form-label">Auteur</label>
                <div class="input-group mb-3">
                        <input type="text" class="form-control" id="Auteur">
                </div>
                
                <label for="ISBN" class="form-label">ISBN</label>
                <div class="input-group mb-3">
                        <input type="text" class="form-control" id="ISBN">
                </div>

                <button class="btn btn-primary" onclick="chercher()">Chercher</button>
            </div>
        </div>
    }
}
