@*@model List<vlissides_bibliotheque.Models.>  TODO: Rajouter le model "programme d'étude" come model de cette vue*@

@*Données test*@
@{

    var ListProgramme = new List<string>();
    ListProgramme.Add("A");
    ListProgramme.Add("B");
    ListProgramme.Add("C");

    SelectList sl = new SelectList(ListProgramme);
}


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 d-flex flex-row-reverse bd-highlight"
     style="background-color: #17008B;">
    <div>
    <partial name="_LoginPartial" />
    </div>
</nav>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">À propos</a>
                    </li>
                </ul>

          
                <fieldset>
                    <select id="MovieType" name="MovieType" class="btn btn-outline-success d-inline-flex">

                        <option selected="selected" value="1">Bibliothèque</option>

                        <option value="2">Blun</option>

                    </select>


                </fieldset>
        

                <form class="form-inline-flex navbar-collapse" asp-controller="Movies" asp-action="Filter">
                    <input name="searchString" type="text" class="form-control" placeholder="Chercher un livre">
                    
                    
                    
                    @* TODO: logique pour afficher tous les programmes d'études basée sur le model*@

                    <select class="btn-outline-success" asp-items="@sl">
                    <option  value="">Programme d'étude</option>
                    </select>
@*

                    <select asp-for="EmployeeId"
                    asp-items="@(new SelectList(Model.EmployeesList, nameof(Employee.Id), nameof(Employee.FullName)))">
                    <option>Please select one</option>
                    </select>
                    
                    
                    *@

                    <button class="btn btn-outline-success" type="submit"> <img src="/images/loupe-de-recherche.svg"> </button>

                </form>

                <button class="btn btn-outline-success" type="submit"> Recherche avancer </button>
            
            </div>
        </div>
    </nav>
