@*@model List<vlissides_bibliotheque.Models.>  TODO: Rajouter le model "programme d'étude" come model de cette vue*@

@*Données test*@
@{

    var ListProgramme = new List<string>();
    ListProgramme.Add("A");
    ListProgramme.Add("B");
    ListProgramme.Add("C");

    SelectList sl = new SelectList(ListProgramme);
}


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow bg-middle">
    <div class="container-fluid">
        <a class="navbar-brand me-auto" asp-controller="Accueil" asp-action="Accueil" title="Accueil">
            <img src="~/img/bibliox.png" width="100" height="30" alt="">
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav" id="livreLink">
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Inventaire" asp-action="Bibliotheque">Blibliothèque</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Usage" asp-action="Usage">Boutique étudiante</a>
                </li>
                @if (User.IsInRole(RolesName.Admin))
                {
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="TableauDeBord" asp-action="Index">Tableau de bord</a>
                    </li>
                }

            </ul>
            <ul class="navbar-nav ms-auto">
                @if (User.Identity != null)
                {
                    if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item text-white">
                            <a class="nav-link text-white">Bonjours @User.Identity.Name</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Panier" asp-action="Index">
                                <img src="~/img/cart-variant.svg" width=" 25px">
                                <span id="NbItemPanier"></span>
                            </a>
                        </li>
                    }
                }
                <partial name="_LoginPartial" />
            </ul>
        </div>
</nav>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom shadow bg-top">
    <div class="container-fluid">
        <div class="row w-100 m-none m-auto">
            <div class="col-md-4 p-0 text-end">
                <select id="livreLink" name="MovieType" class="btn btn-outline-primary text-light border-0 d-inline-flex">
                    <option selected="selected" value="1">Bibliothèque</option>
                    <option value="2">Blun</option>
                </select>

                <select class="btn btn-outline-primary text-light border-0" asp-items="@sl" id="livreLink">
                    <option value="">Programme d'étude</option>
                </select>
            </div>

            <div class="col-md-4">
                <div class="input-group m-none">
                    <input name="searchString" type="text" class="form-control bg-light border-light" placeholder="Chercher un livre" id="inputRecherche">
                    <button class="input-group-text btn btn-light border-light" type="submit">
                        <img src="~/img/loupe-de-recherche.svg">
                    </button>
                </div>
            </div>

            @* TODO: logique pour afficher tous les programmes d'études basée sur le model*@


            @*
            <select asp-for="EmployeeId"
            asp-items="@(new SelectList(Model.EmployeesList, nameof(Employee.Id), nameof(Employee.FullName)))">
            <option>Please select one</option>
            </select>
            *@
        </div>
    </div>
</nav>
