@model GestionCommandeVM

<div class="row">
    <div class="col-md-8 d-block m-auto">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <input asp-for="FactureEtudiantId" class="form-control" value="@Model.FactureEtudiantId" type="hidden" />

            <div class="row text-start">
                <div class="col-md-6">
                    <fieldset class="rounded shadow p-3 m-2 mb-4">
                  
                        <div class="form-group">
                            <label asp-for="Titre" class="form-label"></label>
                            <input asp-for="Titre" class="form-control" aria-required="true" />
                            <span asp-validation-for="Titre" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Courriel" class="form-label"></label>
                            <input asp-for="Courriel" class="form-control" aria-required="true" />
                            <span asp-validation-for="Courriel" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AdresseLivraison" class="form-label"></label>
                            <input asp-for="AdresseLivraison" class="form-control" aria-required="true" />
                            <span asp-validation-for="AdresseLivraison" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PaymentIntentId" class="form-label"></label>
                            <input asp-for="PaymentIntentId" class="form-control" aria-required="true" />
                            <span asp-validation-for="PaymentIntentId" class="text-danger"></span>
                        </div>

                    </fieldset>
                </div>


                <div class="col-md-6">
                    <div>

                        <fieldset class="rounded shadow p-3 m-2 mb-4">
                            <div class="form-group">
                                <label asp-for="DateFacturation" class="form-label"></label>
                                <input asp-for="DateFacturation" class="form-control" aria-required="true" />
                                <span asp-validation-for="DateFacturation" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Total" class="form-label"></label>
                                <input asp-for="Total" class="form-control" aria-required="true" />
                                <span asp-validation-for="Total" class="text-danger"></span>
                            </div>
                        </fieldset>
                        <fieldset>
                        <div class="form-group">
                            <label asp-for="ValeurEnumStatut" class="form-label"></label>
                            <select asp-for="ValeurEnumStatut" asp-items="Model.listStatut" class="form-control" aria-required="true"></select>
                            <span asp-validation-for="ValeurEnumStatut" class="text-danger"></span>
                        </div>

                          
                                <div class="form-group">
                                    <label asp-for="EtudiantId" class="form-label"></label>
                                    <select asp-for="EtudiantId" asp-items="Model.listEtudiant" class="form-control" aria-required="true">
                                    </select>
                                    <span asp-validation-for="EtudiantId" class="text-danger"></span>
                                </div>
                            </fieldset>
                        
                    </div>
                </div>
            </div>
            @Html.AntiForgeryToken()
        </form>
    </div>
</div>