@model GestionProfilVM

<div class="row">
    <div class="col-md-8 d-block m-auto">
        <form class="text-center m-3" method="post">

            <input asp-for="EtudiantId" hidden />
            <input asp-for="NomProgrammeEtude" hidden />
            <input asp-for="NomProvince" hidden />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row text-start">
                <partial name="_CreerEtudiantPartial" model="Model"></partial>
            </div>
            @Html.AntiForgeryToken()
        </form>
    </div>
</div>
