@model GestionProfilVM

<div class="row">
    <div class="col-md-8 d-block m-auto">
        <form class="text-center m-3" method="post">

            <input asp-for="EtudiantId" hidden />
            <input asp-for="NomProgrammeEtude" hidden />
            <input asp-for="NomProvince" hidden />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row text-start">
                <div class="col-md-6">
                    <fieldset class="rounded shadow p-3 m-2 mb-4">
                        <legend>
                            <img width="30px" src="~/img/account-circle.svg" />
                        </legend>
                        <br />
                        <div class="form-group">
                            <label asp-for="Courriel" class="form-label"></label>
                            <input asp-for="Courriel" class="form-control" aria-required="true" />
                            <span asp-validation-for="Courriel" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Nom" class="form-label"></label>
                            <input asp-for="Nom" class="form-control" aria-required="true" />
                            <span asp-validation-for="Nom" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Prenom" class="form-label"></label>
                            <input asp-for="Prenom" class="form-control" aria-required="true" />
                            <span asp-validation-for="Prenom" class="text-danger"></span>
                        </div>
                    </fieldset>
                </div>

                <div class="col-md-6">
                    <fieldset class="rounded shadow p-3 m-2 mb-4">
                        <legend>
                            <img width="30px" src="~/img/account-school.svg" />
                        </legend>
                        <div class="form-group">
                            <label asp-for="ProgrammeEtudeId" class="form-label"></label>
                            <select asp-for="ProgrammeEtudeId" asp-items="Model.ProgrammeEtudes" class="form-control" aria-required="true">
                            </select>
                            <span asp-validation-for="ProgrammeEtudeId" class="text-danger"></span>
                        </div>
                    </fieldset>

                    <fieldset class="rounded shadow p-3 m-2 mb-4">
                        <legend>
                            <img width="30px" src="~/img/google-maps.svg" />
                        </legend>
                        <div class="form-group">
                            <label asp-for="NoCivique" class="form-label"></label>
                            <input asp-for="NoCivique" class="form-control" aria-required="true" />
                            <span asp-validation-for="NoCivique" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="App" class="form-label"></label>
                            <input asp-for="App" class="form-control" aria-required="true" />
                            <span asp-validation-for="App" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Rue" class="form-label"></label>
                            <input asp-for="Rue" class="form-control" aria-required="true" />
                            <span asp-validation-for="Rue" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Ville" class="form-label"></label>
                            <input asp-for="Ville" class="form-control" aria-required="true" />
                            <span asp-validation-for="Ville" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CodePostal" class="form-label"></label>
                            <input type="text" value="@Model.CodePostal" class="form-control" aria-required="true" oninput="setPostalCode(this, 'postalCode')" />
                            <input asp-for="CodePostal" id="postalCode" hidden />
                            <span asp-validation-for="CodePostal" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ProvinceId" class="form-label"></label>
                            <select asp-for="ProvinceId" asp-items="Model.Provinces" class="form-control" aria-required="true">
                            </select>
                            <span asp-validation-for="ProvinceId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NoTelephone" class="form-label"></label>
                            <input type="text" value="@Model.NoTelephone" class="form-control" aria-required="true" oninput="setPhoneNumber(this, 'phoneNumber')" />
                            <input asp-for="NoTelephone" id="phoneNumber" hidden />
                            <span asp-validation-for="NoTelephone" class="text-danger"></span>
                        </div>
                    </fieldset>
                </div>
            </div>
            @Html.AntiForgeryToken()
        </form>
    </div>
</div>
