<footer class="fixed-bottom container mb-1">
    <div class="text-center bg-middle text-light rounded  p-1">
        Copyrights &copy; - Tous droits réservés - Bibliothèque du Cégep de la Connaissance Aléatoire - 2022
    </div>
</footer>