<div class="row align-content-center">
    <p><span onclick="changerPage(0)">1</span> <span onclick="changerPage(1)">2</span> <span onclick="changerPage(2)">3</span> <span onclick="changerPage(3)">4</span> <span onclick="changerPage(4)">5</span></p>
</div>