@model GestionProgrammeEtudesVM

<div class="row">
    <div class="col-md-8 d-block m-auto">
        <form method="post" class="text-center m-3" id="formLivre" asp-action="Creer" asp-controller="Inventaire" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <input asp-for="ProgrammeEtudeId" class="form-control" value="@Model.ProgrammeEtudeId" type="hidden" />
            <div class="row text-start">
                <div class="col-md-12">
                    <fieldset class="rounded shadow p-3 m-2 mb-4">
                        <div class="form-group">
                            <label asp-for="Nom" class="form-label"></label>
                            <input asp-for="Nom" class="form-control" aria-required="true" />
                            <span asp-validation-for="Nom" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Code" class="form-label"></label>
                            <input asp-for="Code" class="form-control" aria-required="true" />
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                    </fieldset>
                </div>
                @Html.AntiForgeryToken()
            </div>
        </form>
    </div>
</div>