.prix {
    background-color: yellow;
    width: 4rem;
    height: 4rem;
    position: absolute;
    right: 25%;
    bottom: 0;
}

.image-livre {
    width: 6rem;
    height: 10rem;
}

.tuile-livre {
    width: auto;
}

.livre-info {
    width: auto;
    padding-left:10px;
}

.etoile {
    width: 15px;
    margin-top: -3px;
}

.image-detail {
    height: 500px;
    width: auto;
}