.evenement-horloge-debut {
    width: 1rem;
    margin-top: -3px;
}

.evenement-horloge-fin {
    width: 1rem;
    margin-top: -3px;
    -webkit-transform: rotateY('180');
    transform: scaleX(-1);
}

.image-evenement {
    width: 200px;
    height: 150px;
}

.tuile-evenement {
    width: auto;
}

.image-detail{
    width: auto;
    height: 500px
}
