@model RecommendationPromotions 
@{
    ViewData["Title"] = "Accueil";
    
}

<div class="container-fluid">
    
    <div class="row">
    @foreach(var card in Model)
    {
        //partial card
    }
    </div>
</div>
<div class="container-fluid">

    <div class="row">
        @foreach (var card in Model)
        {
            //partial promotion
        }
    </div>
</div>
