@{
    ViewData["Title"] = "Accueil";
}

<div class="container-fluid">
    <!--Recommandation for each, si plus de 5 ou 6 article, nouvelle ligne-->
</div>
<div class="container-fluid">
    <!--Promotions for each, si plus de 5 ou 6 article, nouvelle ligne-->
</div>
