@model RecommendationPromotionsVM
@{
    ViewData["Title"] = "Accueil";
    
}

<div class="container-fluid">
    
    <div class="row">
        @foreach(var card in Model.livreBibliotheques)
        {
            <p>@card.Titre</p>
            //partial card
        }
    </div>
</div>
<div class="container-fluid">

    <div class="row">
        @foreach (var promotion in Model.commanditaires)
        {
            <p>@promotion.Nom</p>
            //partial promotion
        }
    </div>
</div>
