@model RecommendationPromotionsVM
@{
    ViewData["Title"] = "Accueil";

}


<h3>Recommandations</h3>
<div class="container-fluid">
    <div class="row">
        @foreach (var card in Model.tuileLivreBibliotequeVMs)
        {
                <partial name="_TuileLivrePartial" model="card"></partial>
        }
    </div>
</div>

<div class="navbar">
    <h3 class="p-2 flex-grow-1">Événements</h3>
    </div>

@if (User.Identity.IsAuthenticated)
{
    <div class="navbar">
        <h3 class="p-2 flex-grow-1">Événements</h3>
        <a class="btn btn-outline-primary border-0" asp-area="" asp-controller="Evenement" asp-action="Evenements">
            Voir toutes les événements
            <img class="tableau" src="~/img/tableau.svg" />
        </a>

    </div>

    <div class="container-fluid">
        <div class="row">
            @foreach (var card in Model.evenements)
            {
                <partial name="_TuileEvenementPartial" model="card"></partial>
            }
        </div>
    </div>
}
else
{
    <div class="ms-auto">
        <p>Connectez-vous pour voir les événements</p>
    </div>
}

<link rel="stylesheet" href="~/css/carte-livre-Partiel.css" asp-append-version="true" />
<script src="~/js/updateBoutonAjoutPanier.js"></script>
<script src="~/js/PrixAjax.js"></script>