@model RecommendationPromotionsVM
@{
    ViewData["Title"] = "Accueil";
    
}
<h4>Recommandations</h4>
<div class="container-fluid">
    
    <div class="row">
        @foreach(var card in Model.livreBibliothequesEvaluation)
        {
            <div class="col-2">
                <partial name="_TuileLivrePartial" model="card"></partial>
                @*@await Html.PartialAsync("_TuileLivrePartial", card)*@
            </div>
        }
    </div>
</div>
<h4>Commanditaires</h4>
<div class="container-fluid">

    <div class="row">
        @foreach (var promotion in Model.commanditaires)
        {
            <div class="col-2">
                <partial name="_PromotionPartial" model="promotion"></partial>
                @*@await Html.PartialAsync("_PromotionPartial", promotion)*@
            </div>
        }
    </div>
</div>
