@model RecommendationPromotionsVM
@{
    ViewData["Title"] = "Accueil";
    
}

<div class="container-fluid">
    
    <div class="row">
        @foreach(var card in Model.livreBibliothequesEvaluation)
        {
            <p>@card.LivreBibliotheque.Titre</p>
            @await Html.PartialAsync("_TuileLivrePartial", card)
        }
    </div>
</div>
<div class="container-fluid">

    <div class="row">
        @foreach (var promotion in Model.commanditaires)
        {
            <p>@promotion.Nom</p>
            @await Html.PartialAsync("_PromotionPartial", promotion)
        }
    </div>
</div>
