@model RecommendationPromotionsVM
@{
    ViewData["Title"] = "Accueil";

}


<h3>Recommandations</h3>
<div class="container-fluid">
    <div class="row">
        @foreach (var card in Model.tuileLivreBibliotequeVMs)
        {
                <partial name="_TuileLivrePartial" model="card"></partial>
        }
    </div>
</div>

<div class="navbar">

    <h3 class="p-2 flex-grow-1">Actualités</h3>
    <a class="btn btn-outline-primary border-0" asp-area="" asp-controller="Evenement" asp-action="Evenements">
        Voir toutes les actualités
        <img class="tableau" src="~/img/tableau.svg" />
    </a>

    </div>

@if (User.Identity.IsAuthenticated)
{
    <div class="container-fluid">

        <div class="row">
            @foreach (var card in Model.evenements)
            {
                <div class="col-auto col-md-3 col-sm-3">
                        <partial name="_TuileActualiterPartial" model="card"></partial>
                </div>
            }
        </div>
    </div>
}

<script src="~/js/updateBoutonAjoutPanier.js"></script>