@model RecommendationPromotionsVM
@{
	ViewData["Title"] = "Accueil";
	
}


<h2>Recommandations</h2>
<div class="container-fluid">
	
	<div class="row">
		@foreach(var card in Model.livreBibliothequesEvaluation)
		{
			<div class="col-3">
				<partial name="_TuileLivrePartial" model="card"></partial>
				@*@await Html.PartialAsync("_TuileLivrePartial", card)*@
			</div>
		}
	</div>
</div>

<div class="d-flex accordion-header">
	
	<h1 class="p-2 flex-grow-1">Actualiter</h1>
	<a asp-area="" asp-controller="Accueil" asp-action="Actualiter">
		Voir tous 
		<img src="/img/tableau.svg" style="height:2rem; width:2rem" />
	</a>

</div>
<div class="container-fluid">

	<div class="row">
		@foreach (var card in Model.evenements)
		{
			<div class="col-3">
				<partial name="_TuileActualiterPartial" model="card"></partial>
				@*@await Html.PartialAsync("_TuileLivrePartial", card)*@
			</div>
		}
	</div>
</div>
