@model List<LivreEtudiant>


<div class="row">
    <h1 class="col-9">Ma boutique</h1>
    <div class="col-3">
        <a class="d-flex justify-content-end" asp-controller="usage" asp-action="ajouter">
            <img src="/img/plus-circle.svg" class="me-3 btn-img-hover devant">
        </a>
    </div>
</div>

<div class="container-fluid">

    <div class="row">
        @foreach (var card in Model)
        {
            <div class="col-12 col-sm-3 col-md-3">
                <partial name="_TuileLivreEtudiantPartial" model="card"></partial>
            </div>
        }
    </div>
</div>