@model List<LivreEtudiant>

<h1 id="titreEtu">Inventaire de la boutique étudiante</h1>

<div class="container-fluid">

    <div class="row" id="conteneurEtu">
        <partial name="_ConteneurAffichageLivresRechercheEtuPartial" model="Model"></partial>
    </div>
</div>
<script src="~/js/recherche.js"></script>