<div class="d-flex accordion-header">
    <div class="pr-3">
        <a asp-area="" asp-controller="Accueil" asp-action="Accueil">
            <img class="fleche-retour" src="~/img/fleche-de-retour.svg" />
        </a>
    </div>
    <div class="px-5">
        <h1 class="p-2 flex-grow-1 px-2">Panier</h1>
    </div>
</div>

<div>
    <div id="cardsIci" onclick="getCards()"><p>AAAA</p></div>
</div>
<div class="container-fluid" id="affichageLivre">
</div>