@model GestionEtudiantsVM

<div class="pt-2">
    <a asp-area="" asp-controller="Accueil" asp-action="Accueil">
        <div class="btn">
            <img class="fleche-retour" src="~/img/fleche-de-retour.svg" />
        </div>
    </a>
</div>

