@model List<Etudiant>
@{
    ViewData["Title"] = "Tableau de bord";
}

<div class="d-flex accordion-header">
    <a asp-area="" asp-controller="Accueil" asp-action="Accueil">
        <img class="fleche-retour" src="~/img/fleche-de-retour.svg" />
    </a>
    <h2 class="p-3">Tableau de bord</h2>
</div>

<div class="dropdown float-end col">
    <div class="bg-middle text-white nav-link" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Tableau de bord
    </div>

    <ul class="dropdown-tableau dropdown-menu dropdown-tableauDeBord bg-middle" aria-labelledby="dropdownMenuLink">
        <li> <a class="nav-link btn text-start text-white" onclick="getPartialViewEtudiant()">Etudiants</a></li>
        <li> <a class="nav-link btn text-start text-white" onclick="getPartialViewLivre()">Livres</a></li>
        <li> <a class="nav-link btn text-start text-white" onclick="getPartialViewCours()">Cours</a></li>
        <li> <a class="nav-link btn text-start text-white" onclick="getPartialViewEtudiant()">Programmes d'études</a></li>
        <li> <a class="nav-link btn text-start text-white" onclick="getPartialViewEtudiant()">Promotions</a></li>
        <li> <a class="nav-link btn text-start text-white" onclick="getPartialViewEtudiant()">Commandes</a></li>
    </ul>
</div>

<div class="container-fluid">

    <div class="row">
            <div id="partials">
            </div>
    </div>
</div>