@model List<EtudiantDto>
@{
    ViewData["Title"] = "Tableau de bord";
}

<div class="d-flex justify-content-end">
    <button onclick="fillDatabase()">Remplir BD</button>
</div>

<div class="row">
    <div class="d-flex accordion-header">
        <a asp-area="" asp-controller="Accueil" asp-action="Accueil">
            <img class="fleche-retour" src="~/img/fleche-de-retour.svg" />
        </a>
        <h2 class="p-3">Tableau de bord</h2>
    </div>
</div>

<div class="container">
    <ul class="nav nav-pills nav-fill justify-content-center">
        <li class="nav-item">
            <a class="nav-link fw-bold active" data-bs-toggle="tab" onclick="getPartialViewEtudiant()">Étudiants</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fw-bold" data-bs-toggle="tab" onclick="getPartialViewLivre()">Livres</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fw-bold" data-bs-toggle="tab" onclick="getTBPartialViewCours()">Cours</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fw-bold" data-bs-toggle="tab" onclick="getPartialViewProgrammesEtude()">Programmes d'études</a>
        </li>
        <li class="nav-item">
            <a class="nav-link fw-bold" data-bs-toggle="tab" onclick="getPartialViewPromotions()">Promotions</a>
        </li>
@*         <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" onclick="getPartialViewCommandes()">Commandes</a>
        </li> *@
    </ul>
</div>


<div id="partials"></div>


<script src="~/js/TableauBord.js" asp-append-version="true"></script>
<script src="~/js/TableauBordEtudiant.js" asp-append-version="true"></script>
<script src="~/js/TableauBordLivre.js" asp-append-version="true"></script>
<script src="~/js/TableauBordCours.js" asp-append-version="true"></script>
<script src="~/js/TableauBordProgrammeEtude.js" asp-append-version="true"></script>
<script src="~/js/TableauBordPromotion.js" asp-append-version="true"></script>
<script src="~/js/TableauBordCommande.js" asp-append-version="true"></script>
<script src="~/js/RemplirBaseDonne.js" asp-append-version="true"></script>

<script>

    // Call getPartialViewEtudiant() when the DOM content is loaded
    document.addEventListener("DOMContentLoaded", function () {
        getPartialViewEtudiant();
    });

</script>

<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.querySelector("#maTable");
        switching = true;
        dir = "asc";

        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>
