@model List<ProgrammeEtude>

<div class="d-flex accordion-header">
    <a asp-area="" asp-controller="TableauDeBord" asp-action="Index">
        <img class="fleche-retour" src="~/img/fleche-de-retour.svg" />
    </a>
    <h2 class="p-3">Gestion des programmes d'études</h2>
</div>

<table class="table table-light table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(programme => programme.First().Code)</th>
            <th>@Html.DisplayNameFor(programme => programme.First().Nom)</th>
            <th>Action(s)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ProgrammeEtude programme in Model) {
            <tr>
                <td>@programme.Code</td>
                <td>@programme.Nom</td>
                <td>

                </td>
            </tr>
        }
    </tbody>
</table>