@model ConnexionVM

<div class="row">
    <div class="col-md-3 d-block m-auto">
        <section>
            <form class="text-center" method="post" asp-action="Index" asp-controller="Connexion">
                <img class="col-6" src="~/img/account.svg" />
                <h2>Connexion</h2>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3 text-start">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3 text-start">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3 text-start">
                    <div class="checkbox">
                        <label asp-for="RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="mb-3 text-start">
                    <button type="submit" class="btn btn-primary col-12">Se connecter</button>
                </div>
                <div class="mb-3 text-start">
                    <p>
                        Vous n'avez pas encore de compte ?
                        <br />
                        <a asp-action="Inscription" asp-controller="Connexion">Inscrivez-vous !</a>
                    </p>
                    <p>
                        <a id="forgot-password">Mot de passe oublié ?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

