@page
@model ConnexionVM

<div class="row">
    <div class="col-md-4 d-block m-auto">
        <section>
            <form id="account" class="text-center" method="post">
                <img width="200px" src="https://cdn.iconscout.com/icon/free/png-256/profile-2107395-1778326.png" />

                <h1>Connexion</h1>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3 text-start">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3 text-start">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <br />
                <div class="text-start">
                    <div class="checkbox">
                        <label asp-for="RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Se connecter</button>
                </div>
                <div class="text-start">
                    <p>
                        Vous n'avez pas encore de compte ?
                        <br />
                        <a asp-action="Inscription" asp-controller="Connexion">Inscrivez-vous!</a>
                    </p>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Mot de passe oublié ?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

