@model InscriptionVM

<div class="row">
    <div class="col-md-8 d-block m-auto">
        <form class="text-center m-3" method="post" asp-action="Inscription" asp-controller="Connexion">

            <img width="200px" src="~/img/account-plus.svg" />
        
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row text-start">

                 <div class="col-md-6">
                    <fieldset class="rounded shadow p-3 m-3">
                         <legend>
                            <img width="30px" src="~/img/account-circle.svg" />
                         </legend>
                        <br />
                        <div class="form-group">
                            <label asp-for="Courriel" class="form-label"></label>
                            <input asp-for="Courriel" class="form-control" aria-required="true" />
                            <span asp-validation-for="Courriel" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Nom" class="form-label"></label>
                            <input asp-for="Nom" class="form-control" aria-required="true" />
                            <span asp-validation-for="Nom" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Prenom" class="form-label"></label>
                            <input asp-for="Prenom" class="form-control" aria-required="true" />
                            <span asp-validation-for="Prenom" class="text-danger"></span>
                        </div>
                     </fieldset>

                    @*<img width="30px" src="~/img/account.svg" />*@
                    @*<div class="form-group">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" aria-required="true" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    </div>*@

                    <fieldset class="rounded shadow p-3 m-3">
                        <legend>
                            <img width="30px" src="~/img/shield-lock.svg" />
                        </legend>
                        <div class="form-group">
                            <label asp-for="Password" class="form-label"></label>
                            <input asp-for="Password" class="form-control" aria-required="true" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="form-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" aria-required="true" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </fieldset>
                    
                </div>

                <div class="col-md-6">
                    <fieldset class="rounded shadow p-3 m-3">
                        <legend>
                            <img width="30px" src="~/img/google-maps.svg" />
                        </legend>
                        <div class="form-group">
                            <label asp-for="NoCivique" class="form-label"></label>
                            <input asp-for="NoCivique" class="form-control" aria-required="true" />
                            <span asp-validation-for="NoCivique" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Rue" class="form-label"></label>
                            <input asp-for="Rue" class="form-control" aria-required="true" />
                            <span asp-validation-for="Rue" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Ville" class="form-label"></label>
                            <input asp-for="Ville" class="form-control" aria-required="true" />
                            <span asp-validation-for="Ville" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CodePostal" class="form-label"></label>
                            <input asp-for="CodePostal" class="form-control" aria-required="true" />
                            <span asp-validation-for="CodePostal" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12">
                            <label asp-for="NoTelephone" class="form-label"></label>
                            <input asp-for="NoTelephone" class="form-control" aria-required="true" />
                            <span asp-validation-for="NoTelephone" class="text-danger"></span>
                        </div>
                    </fieldset>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <a asp-action="Index" asp-controller="Home" class="btn btn-secondary col-6 m-3">Annuler</a>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary col-6 m-3">Créer</button>
                </div>
            </div>

        </form>
    </div>
</div>
