@model InscriptionVM

<div class="row">
    <div class="col-md-8 d-block m-auto">
        <form class="text-center m-3" method="post" asp-action="Inscription" asp-controller="Connexion">

            <img width="200px" src="~/img/account-plus.svg" />
        
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row text-start">

                <partial name="_CreerEtudiantPartial" model="Model"></partial>

                <div class="col-md-6">
                    <div class="m-2 mb-4">
                        <a asp-action="Index" asp-controller="Home" class="btn btn-secondary w-100 shadow">Annuler</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="m-2 mb-4">
                        <button type="submit" class="btn btn-primary w-100 shadow">Créer</button>
                    </div>
                </div>
            </div>
            @Html.AntiForgeryToken()
        </form>
    </div>
</div>
