@model InventaireLivreBibliotheque


<h1>Inventaire de la bibliothèque</h1>

    @if (User.IsInRole(RolesName.Admin))
    {
        <a class="d-flex justify-content-end" asp-controller="inventaire" asp-action="creer">
            <input class="btn btn-primary shadow" type="button" value="Ajouter un livre" />
        </a>
    }

<div class="container-fluid">

    <div class="row" id="conteneurBibli">
        <partial name="_ConteneurAffichageLivresRecherche" model="Model.tuileLivreBiblioteques"></partial>
    </div>
</div>
<div class="row align-content-center">
    <p><span onclick="changerPage(0)">1</span> <span onclick="changerPage(1)">2</span> <span onclick="changerPage(2)">3</span> <span onclick="changerPage(3)">4</span> <span onclick="changerPage(4)">5</span></p>
</div>
<div class="row align-content-center">
    <p><span onclick="changerPage(0)">1</span> <span onclick="changerPage(1)">2</span> <span onclick="changerPage(2)">3</span> <span onclick="changerPage(3)">4</span> <span onclick="changerPage(4)">5</span></p>
</div>
<script src="~/js/changerDePage.js"></script>
<link rel="stylesheet" href="~/css/carte-livre-Partiel.css" asp-append-version="true" />
<script src="~/js/updateBoutonAjoutPanier.js"></script>
<script src="~/js/PrixAjax.js"></script>