@model RecommendationPromotionsVM


<h1>Inventaire de la bibliothèque</h1>

<div class="container-fluid">

    <div class="row">
        @foreach (var card in Model.tuileLivreBibliotequeVMs)
        {
            <div class="col-12 col-sm-3 col-md-3">
                <partial name="_TuileLivrePartial" model="card"></partial>
            </div>
        }
    </div>
</div>