@model InventaireLivreBibliotheque


<h1>Inventaire de la bibliothèque</h1>

    @if (User.IsInRole(RolesName.Admin))
    {
        <a class="d-flex justify-content-end" asp-controller="inventaire" asp-action="creer">
            <input class="btn btn-primary shadow" type="button" value="Ajouter un livre" />
        </a>
    }

<div class="container-fluid">

    <div class="row">
        <partial name="_ConteneurAffichageLivresRecherche" model="Model.tuileLivreBiblioteques"></partial>
    </div>
</div>
<div class="row align-content-center">
    <p><span>1</span> <span>2</span> <span>3</span> <span>4</span> <span>5</span></p>
</div>
<script src="~/js/updateBoutonAjoutPanier.js"></script>