@model InventaireLivreBibliotheque


<h1 id="titreBibli">Inventaire de la bibliothèque</h1>

    @if (User.IsInRole(RolesName.Admin))
    {
        <a class="d-flex justify-content-end" asp-controller="inventaire" asp-action="creer">
            <input class="btn btn-primary shadow" type="button" value="Ajouter un livre" />
        </a>
    }

<div class="container-fluid">

    <div class="row" id="conteneurBibli">
        <partial name="_ConteneurAffichageLivresRechercheBibliPartial" model="Model.tuileLivreBiblioteques"></partial>
    </div>
</div>
<link rel="stylesheet" href="~/css/carte-livre-Partiel.css" asp-append-version="true" />
<script src="~/js/updateBoutonAjoutPanier.js"></script>
<script src="~/js/PrixAjax.js"></script>