@model InventaireLivreBibliothequeVM

<div class="d-flex accordion-header">

    <a asp-area="" asp-controller="Accueil" asp-action="Accueil">
        <img class="fleche-retour" src="~/img/fleche-de-retour.svg" />
    </a>
    <h1 class="p-2 flex-grow-1">Inventaire de la bibliothèque</h1>
<h1 id="titreBibli">Inventaire de la bibliothèque</h1>

    @if (User.IsInRole(RolesName.Admin))
    {
        <a class="d-flex justify-content-end" asp-controller="inventaire" asp-action="creer">
            <img src="~/img/plus-circle.svg" class="me-3 btn-img-hover devant" />
        </a>
    }
</div>

<div class="container-fluid">

    <div class="row" id="conteneurBibli">
        <partial name="_ConteneurAffichageLivresRechercheBibliPartial" model="Model.tuileLivreBiblioteques"></partial>
    </div>
</div>
<link rel="stylesheet" href="~/css/carte-livre-Partiel.css" asp-append-version="true" />
<script src="~/js/updateBoutonAjoutPanier.js"></script>
<script src="~/js/PrixAjax.js"></script>