@model LivreBibliotheque


<h1>Le livre @Model.Titre à été ajouter</h1>

<a class="d-flex justify-content-start" asp-controller="inventaire" asp-action="creer">
    <input class="btn btn-primary shadow" type="button" value="Ajouter un autre livre" />
</a>

<a class="d-flex justify-content-start pt-3" asp-controller="accueil" asp-action="Accueil">
    <input class="btn btn-primary shadow" type="button" value="Retourner à l'accueil" />
</a>
