@model List<EvenementVM>
@{
	ViewData["Title"] = "Actualiter";
	
}

<div class="d-flex accordion-header">

	<a asp-area="" asp-controller="Accueil" asp-action="Accueil">
		<img class="fleche-retour" src="~/img/fleche-de-retour.svg" />
	</a>
	<h1 class="p-2 flex-grow-1">Toutes les actualités courantes</h1>

	@if(User.IsInRole(RolesName.Admin)){
	<a class="d-flex justify-content-end" asp-controller="Evenement" asp-action="creer">
			<img src="~/img/plus-circle.svg" class="position-fixed mt-2 me-5 mb-4 btn-img-hover devant" />
    </a>
	}
</div>


<div class="container-fluid">
	<div class="row">
		@foreach (var card in Model)
		{
				<partial name="_TuileActualiterPartial" model="card"></partial>
		}
	</div>
</div>
